.bg_home_default {
    background-image: url(../../assets/images/bg_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
}

.bg_solutions_default {
    background-image: url(../../assets/images/bg_4_vr_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
}
  
.solutions_head_bg_size {
    min-height: 416px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bg_home_2 {
    background-image: url(../../assets/images/bg_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.bg_home_3 {
    background-image: url(../../assets/images/bg_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.bg_solutions_2 {
    background-color: rgb(0, 71, 131);
    display: flex;
    width: 100%;
    height: auto;
    z-index: 5;
  }
  

.home_banner_img {
    width: 80%;
    height: auto;
    z-index: 10;
    margin: 3rem 0;
}

.gear-img{
    left: 0;
    width: 100%;
}

.abstract-bg{
    height: 200px;
}

@media (min-width: 768px){
    .title-text {
        font-size: 5rem;
    }

    .home_banner_img {
        width: 394px;
        height: auto;
        z-index: 10;
    }

    .gear-img{
        left: 0;
        height: 416px;
        width: auto;
    }

    .abstract-bg{
        height: 339px;
    }
}


.span-rect {
    background-color: rgb(246, 200, 14);
    display: block;
    width: 56px;
    height: 6px;
    z-index: 20;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.text-primary{
    color: #0aa2bc !important;
}

.span-separator{
    content: url(../../assets/images/elm_suite_separator.svg);
    position: absolute;
    right: 10px;
}
  
.text-description-over-blue {
    color: rgb(167, 190, 194);
    line-height: 1.515;
    z-index: 19;
    opacity: .7;
}
  

.text-warning{
    color:rgb(246, 200, 14) !important;
}

.btn.btn-outline-warning {
    color:rgb(246, 200, 14) !important;
    border-color:rgb(246, 200, 14) !important;
    border-width: 3px;
    border-radius: 0;
    background: linear-gradient(90deg, rgba(246, 200, 14, .2), rgba(246, 200, 14, 0));
}

.btn.btn-outline-warning:hover {
    color:white !important;
    border-color:rgb(246, 200, 14) !important;
    border-width: 3px;
    border-radius: 0;
    background: rgb(246, 200, 14);
}
  
.highlighted-card{
    border-width: thick !important;
    background: linear-gradient(45deg, rgba(246, 200, 14, .3), rgba(246, 200, 14, 0),  rgba(246, 200, 14, 0),  rgba(246, 200, 14, .4),   rgba(246, 200, 14, .5));
}

.cs-marker li{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.cs-marker li::before{
    color: #fff;
    background: #fff;
    display: block;
    width: 6px;
    height: auto;
    content: 'i';
    margin-right: 1.5rem;
    flex: 0 0 auto;
}

.fs-13 {
    font-size: 13px;
}

.cs-marker .extend::before{
    height: 118px;
    background: rgb(246, 200, 14);
    color: rgb(246, 200, 14);
}

.cs-marker {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: rgb(16, 20, 23) !important;
    min-height: 148px;
}
  