.bg_home_default {
    background-image: url(/assets/images/bg_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1151px;
}

.bg_home_2 {
    background-image: url(/assets/images/bg_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.bg_home_3 {
    background-image: url(/assets/images/bg_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.title-text{
    font-size: 5rem;
}

.home_banner_img {
    width: 500px;
    height: auto;
    z-index: 10;
}

.text-warning{
    color:rgb(246, 200, 14) !important;
}

.btn.btn-outline-warning {
    color:rgb(246, 200, 14) !important;
    border-color:rgb(246, 200, 14) !important;
    border-width: 3px;
    border-radius: 0;
    background: linear-gradient(90deg, rgba(246, 200, 14, .5), rgba(246, 200, 14, 0));
}

.btn.btn-outline-warning:hover {
    color:white !important;
    border-color:rgb(246, 200, 14) !important;
    border-width: 3px;
    border-radius: 0;
    background: rgb(246, 200, 14);
}
  



  